// Tâmia © 2015 Artem Sapegin http://sapegin.me
// Unordered list with dashes (—) as bullets and basic ordered list

// Place bullets inside container (by default bullets are outside).
list_inside ?= false

_margin = 1.3em

.list
	> li
		position: relative
		padding-left: _margin
		margin-left: -(_margin) unless list_inside
	&_inside > li
		margin-left: 0
	> li:before
		position: absolute
		left: 0
		content: "\2014\a0"

	ul,
	ol
		margin-left: _margin

	li > ul,
	li > ol
		margin-bottom: 0

.list-num
	unless list_inside
		padding-left: 0
		&_inside
			padding-left: _margin

.text
	ul
		@extend .list
	ol
		@extend .list-num

list_max_width ?= max_width or content_max_width or max_width

if not list_inside and list_max_width
	+below(list_max_width)
		.list > li,
		.text ul > li
			margin-left: 0
			padding-left: 0
			&:before
				position: static
		.list-num,
		.text ol
			list-style-position: inside;
			padding-left: 0
