// Images with Retina support

//
// Configuration
//

// Enable Retina support (default: false).
retinafy ?= false;

// Path to calculate file system image path based on CSS path (default: .).
images_relative_root ?= '.';

//
// Functions
//

// background-image with Retina variant.
//
// path - Image file path.
// x - background-position x (default: 0).
// y - background-position y (default: 0).
//
// Retina image file should be named path@2x.png.
image(path, x=0, y=0) {
	background: url(path) x y;
	if retinafy {
		+retina() {
			_ext = extname(path);
			_hdpath = dirname(path) + '/' + basename(path, _ext) + '@2x' + _ext;
			background: url(_hdpath) x y;
			background-size: image-size(pathjoin(images_relative_root, path));
		}
	}
}
