// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Select with custom design

/* Bones */

.select
	position: relative
	display: inline-block

	select
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		width: 100%
		opacity: 0
		z-index: 2

	&__box
		display: block
		vertical-align: middle
		line-height: 1
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis

	&:after
		content: "▼"
		position: absolute
		top: 0
		bottom: 0
		right: 0
		text-align: center
		z-index: 1


/* Default skin */

blocks_default_skin ?= true
select_default_skin ?= false

if blocks_default_skin or select_default_skin
	.select
		&__box
			padding: 1px 20px 3px 3px
			color: #000
			font-size: 16px
			background: #eee
			border: 1px solid #999
			border-radius: 2px

		&:after
			padding-right: 2px
			font-size: 16px
			line-height: 22px

		.is-focused &__box
			box-shadow: 0 0 1px 1px orange
