// Tâmia © 2015 Artem Sapegin http://sapegin.me
// Tomorrow theme
// Theme from: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow.css

_prefix = code_class_prefix

// Comment
.{_prefix}comment,
.{_prefix}quote
	color: #8e908c
	@media print
		font-style: italic

// Red
.{_prefix}variable,
.{_prefix}template-variable,
.{_prefix}tag,
.{_prefix}name,
.{_prefix}selector-id,
.{_prefix}selector-class,
.{_prefix}regexp,
.{_prefix}deletion
	color: #c82829
	@media print
		font-weight: bold

// Orange
.{_prefix}number,
.{_prefix}built_in,
.{_prefix}builtin-name,
.{_prefix}literal,
.{_prefix}type,
.{_prefix}params,
.{_prefix}meta,
.{_prefix}link
	color: #f5871f

// Yellow
.{_prefix}attribute
	color: #eab700

// Green
.{_prefix}string,
.{_prefix}symbol,
.{_prefix}bullet,
.{_prefix}addition
	color: #718c00

// Blue
.{_prefix}title,
.{_prefix}section
	color: #4271ae

// Purple
.{_prefix}keyword,
.{_prefix}selector-tag
	color: #8959a8

.{_prefix}emphasis
	font-style: italic

.{_prefix}strong
	font-weight: bold
