{
	"parser": "babel-eslint",
	"extends": [
		"tamia/react",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"plugins": [
		"import"
	],
	"rules": {
		"valid-jsdoc": 0
	},
	"settings": {
		"react": {
			"version": "16.4"
		}
	}
}
