{
	"parser": "babel-eslint",
	"extends": [
		"tamia/react",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"plugins": [
		"import",
		"emotion"
	],
	"rules": {
		"valid-jsdoc": 0,
		"emotion/jsx-import": "error",
		"emotion/no-vanilla": "error",
		"emotion/import-from-emotion": "error",
		"emotion/styled-import": "error"
	},
	"settings": {
		"react": {
			"version": "16.4"
		}
	}
}
