{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": "tab",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "no-extra-semicolons": null
  }
}
