.l-row{margin-left:-10px;margin-right:-10px;display:-ms-flexbox;-ms-box-orient:horizontal;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;-webkit-flex-flow:row wrap;-moz-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;}
.no-flexbox .l-row{letter-spacing:-.31em}
.l-sixth,.l-quarter,.l-third,.l-half,.l-three-quarters,.l-two-thirds{padding-left:10px;padding-right:10px;}
.no-flexbox .l-sixth,.no-flexbox .l-quarter,.no-flexbox .l-third,.no-flexbox .l-half,.no-flexbox .l-three-quarters,.no-flexbox .l-two-thirds{display:inline-block;vertical-align:top;letter-spacing:normal}
.l-sixth{width:16.666666666666668%}
.l-quarter{width:25%}
.l-three-quarters{width:75%}
.l-third{width:33.333333333333336%}
.l-two-thirds{width:66.66666666666667%}
.l-half{width:50%}
.l-last{float:right}
.l-center{display:table;width:100%;height:100%;}
.l-center-i{display:table-cell;text-align:center;vertical-align:middle}
.l-space{margin-bottom:10px}
.l-double-space{margin-bottom:20px}
.l-triple-space{margin-bottom:30px}
.l-quad-space{margin-bottom:40px}
*{padding:0;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
sup,sub,small,code{line-height:0}
img{max-width:100%;height:auto}
img{vertical-align:middle}
a img,a.img{border:none !important;background-image:none !important}
abbr{border-bottom:none}
ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:subpixel-antialiased;}
h1,h2,h3{text-rendering:optimizeLegibility}
input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}
button[disabled],input[disabled]{cursor:default}
button,input{line-height:normal}
button,input,select,textarea{font-family:inherit;font-size:100%}
button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button}
input[type="search"]{-webkit-appearance:textfield}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
fieldset,legend{border:0}
[hidden]{display:none}
pre{white-space:pre-wrap}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
::-moz-selection{color:#111;background:rgba(102,102,102,0.5);text-shadow:none}
::selection{color:#111;background:rgba(102,102,102,0.5);text-shadow:none}
a:link{-webkit-tap-highlight-color:rgba(102,102,102,0.25)}
.no-touch a[href^="tel"]:link,.no-touch a[href^="tel"]:visited,.no-touch a[href^="tel"]:hover,.no-touch a[href^="tel"]:active,.no-touch a[href^="tel"]:focus{position:inherit;text-decoration:inherit;border:inherit;color:inherit;background-image:none;cursor:default}
.ir{background-color:transparent;border:0;overflow:hidden;}
.ir:before{content:"";display:block;width:0;height:150%}
.group:before,.group:after{content:"";display:table}
.group:after{clear:both}
.content{max-width:1024px;margin:0 auto}
.pressable-inset,.pressable,.link,.link u{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer}
.pressable:active,.link:active,.link u:active{position:relative;top:1px}
.no-pressable,.no-pressable:hover,.no-pressable:active{cursor:default}
.no-pressable:active{position:static}
.no-underline,.link_quoted,.no-underline:link,.link_quoted:link,.no-underline:visited,.link_quoted:visited,.no-underline:hover,.link_quoted:hover,.no-underline:active,.link_quoted:active,.no-underline:focus,.link_quoted:focus,.link_quoted{text-decoration:none;border-bottom:0;background-image:none}
.link,.link u{-webkit-transition:border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;-moz-transition:border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;-o-transition:border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;-ms-transition:border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;transition:border .1s ease-in-out,color .2s ease-in-out,background .2s ease-in-out;cursor:pointer;text-decoration:underline;}
.link,.link:link,.link u,.link:link u{color:#1978c8;}
.link:visited,.link:visited u{color:#1978c8;}
.link:hover,.link:active,.link:focus,.link:hover u,.link:active u,.link:focus u{color:#1978c8;}
.link_fake{text-decoration:none;background-position:0 76.5%;-webkit-background-size:5px 1px;-moz-background-size:5px 1px;background-size:5px 1px;background-repeat:repeat-x;}
.link_fake,.link_fake:link,.link_fake:visited{color:#1978c8;background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #1978c8), color-stop(0.5, #1978c8), color-stop(0.5, transparent));background-image:-webkit-linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%);background-image:-moz-linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%);background-image:-o-linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%);background-image:-ms-linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%);background-image:linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%)}
.link_fake:hover,.link_fake:active,.link_fake:focus{background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #1978c8), color-stop(0.5, #1978c8), color-stop(0.5, transparent));background-image:-webkit-linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%);background-image:-moz-linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%);background-image:-o-linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%);background-image:-ms-linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%);background-image:linear-gradient(left, #1978c8 0, #1978c8 50%, transparent 50%)}
.no-cssgradients .link{text-decoration:underline}
.no-cssgradients .link_fake{text-decoration:none;border-bottom:1px dotted}
.text p,.text ul,.text ol,.text li,.text pre{margin-bottom:20px}
.alpha,.text h1,.beta,.text h2,.gamma,.text h3,.delta,.text h4,.epsilon,.text h5{margin-top:30px;margin-bottom:10px;line-height:1.2;font-weight:normal}
.alpha,.text h1{font-size:44px}
.beta,.text h2{font-size:34px}
.gamma,.text h3{font-size:28px}
.delta,.text h4{font-size:20px}
.epsilon,.text h5{font-size:1em;font-weight:bold}
.text h1 + h2,.text h2 + h3,.text h3 + h4,.text h4 + h5,.alpha + .beta,.beta + .gamma,.gamma + .delta,.delta + .epsilon{margin-top:0}
.list > li,.text ul > li{position:relative;padding-left:1.3em;margin-left:-1.3em}
.list > li:before,.text ul > li:before{position:absolute;left:0;content:"\2014\a0"}
.list ul,.text ul ul{margin-left:1.3em}
.list li > ul,.text ul li > ul,.list li > ol,.text ul li > ol{margin-bottom:0}
@media (max-width:){.list > li,.text ul > li{margin-left:0}
}.code,.text code,.text kbd,.text pre,.text pre *{font-family:Consolas,"Lucida Console",Monaco,"DejaVu Sans Mono",monospace}
.code,.text pre{display:block;white-space:pre-wrap;-moz-tab-size:4;-o-tab-size:4;-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
.code code,.text pre code{display:block;font-size:14px;line-height:1.3}
.code .indent,.text pre .indent{display:inline-block;width:2.2em}
.code .tomorrow-comment,.text pre .tomorrow-comment,.code .comment,.text pre .comment,.code .title,.text pre .title{color:#8e908c}
.code .tomorrow-red,.text pre .tomorrow-red,.code .variable,.text pre .variable,.code .attribute,.text pre .attribute,.code .tag,.text pre .tag,.code .regexp,.text pre .regexp,.code .ruby .constant,.text pre .ruby .constant,.code .xml .tag .title,.text pre .xml .tag .title,.code .xml .pi,.text pre .xml .pi,.code .xml .doctype,.text pre .xml .doctype,.code .html .doctype,.text pre .html .doctype,.code .css .id,.text pre .css .id,.code .css .class,.text pre .css .class,.code .css .pseudo,.text pre .css .pseudo{color:#c82829}
.code .tomorrow-orange,.text pre .tomorrow-orange,.code .number,.text pre .number,.code .codeprocessor,.text pre .codeprocessor,.code .built_in,.text pre .built_in,.code .literal,.text pre .literal,.code .params,.text pre .params,.code .constant,.text pre .constant{color:#f5871f}
.code .tomorrow-yellow,.text pre .tomorrow-yellow,.code .class,.text pre .class,.code .ruby .class .title,.text pre .ruby .class .title,.code .css .rules .attribute,.text pre .css .rules .attribute{color:#eab700}
.code .tomorrow-green,.text pre .tomorrow-green,.code .string,.text pre .string,.code .value,.text pre .value,.code .inheritance,.text pre .inheritance,.code .header,.text pre .header,.code .ruby .symbol,.text pre .ruby .symbol,.code .xml .cdata,.text pre .xml .cdata{color:#718c00}
.code .tomorrow-aqua,.text pre .tomorrow-aqua,.code .css .hexcolor,.text pre .css .hexcolor{color:#3e999f}
.code .tomorrow-blue,.text pre .tomorrow-blue,.code .function,.text pre .function,.code .python .decorator,.text pre .python .decorator,.code .python .title,.text pre .python .title,.code .ruby .function .title,.text pre .ruby .function .title,.code .ruby .title .keyword,.text pre .ruby .title .keyword,.code .perl .sub,.text pre .perl .sub,.code .javascript .title,.text pre .javascript .title,.code .coffeescript .title,.text pre .coffeescript .title{color:#4271ae}
.code .tomorrow-purple,.text pre .tomorrow-purple,.code .keyword,.text pre .keyword,.code .javascript .function,.text pre .javascript .function{color:#8959a8}
.code code,.text pre code{padding:10px;background:#fff;background:rgba(255,255,255,0.7);-webkit-border-radius:3px;border-radius:3px;border:1px solid #ccc;border-color:rgba(0,0,0,0.2)}
.abbr,.text abbr{letter-spacing:.1em;margin-right:-.1em}
.amp{font-family:Baskerville,Constantia,Palatino,"Palatino Linotype","Book Antiqua",serif;font-style:italic}
.sbrace{margin-right:.3em}
.hbrace{margin-left:-.3em}
.slaquo{margin-right:.42em}
.hlaquo{margin-left:-.42em}
.text h1,.alpha,.text h2,.beta,.text h3,.gamma,.text h4,.delta,.text h5,.epsilon,.text h6,.zeta{text-rendering:optimizeLegibility;-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";font-feature-settings:"liga","dlig"}
body{font:16px/1.4 "Helvetica Neue",Arial,sans-serif}
.content{padding:0 40px}
.page-content{padding-top:10px;padding-bottom:10px}
.header{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:#222;color:#fff;}
.header a,.header a:link,.header a:visited,.header a:hover,.header a:active,.header a:focus{color:#fff}
.logo{display:inline-block;margin-right:2em;padding:4px 0 10px;font-size:24px}
.nav{display:inline-block;list-style-type:none;}
.nav__item{display:inline-block}
.nav__link{display:block;padding:12px .75em 13px}
.nav__link_active{background:#555;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(1, #3f3f3f));background:-webkit-linear-gradient(top, #555 0, #3f3f3f 100%);background:-moz-linear-gradient(top, #555 0, #3f3f3f 100%);background:-o-linear-gradient(top, #555 0, #3f3f3f 100%);background:-ms-linear-gradient(top, #555 0, #3f3f3f 100%);background:linear-gradient(top, #555 0, #3f3f3f 100%);text-decoration:none}
.splash{margin-bottom:40px;}
.splash__title{font-size:56px;font-weight:normal}
.splash__subtitle{font-size:28px}
