// Base CSS

// Text selection background color.
selection_color ?= #ffed75;

// Set box-sizing to border-box initially.
// Based on https://github.com/marxo/Canonical.css
:root {
	box-sizing: border-box;
}

// 1. Inherit border-box on all elements.
// 2. Align inline and inline-block elements to the middle.
// 3. Remove padding and margins on all elements.
*,
*:before,
*:after {
	box-sizing: inherit; // 1
	vertical-align: middle; // 2
	padding: 0; // 3
	margin: 0;
}

// Normalize vertical alignment of inline-elements in Chrome, Firefox, and Opera.
a,
b,
em,
i,
progress,
span,
strong {
	vertical-align: baseline;
}

// Remove borders.
fieldset,
legend {
	border: 0;
}

// Hide the spin-button from input[type="number"].
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

// www.aestheticallyloyal.com/public/optimize-legibility/
h1,
h2,
h3 {
	text-rendering: optimizeLegibility;
}

// Remove ugly bottom border.
abbr {
	border-bottom: none;
}

// Remove markers.
ul {
	list-style: none;
}

// Sane default values
img {
	vertical-align: middle;
}

// Collapse table borders.
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Do not allow horizontal resizing because it breaks layout.
textarea {
	resize: vertical;
}


// Correct cursor set to `text` in IE11.
label {
	cursor: default;
}

// Pre with wrapping.
pre {
	white-space: pre-wrap;
	overflow: auto;
}

// Text selection and iOS tap highlighting.
::selection {
	color: base_color;
	background: selection_color;
	text-shadow: none;
}
a:link {
	-webkit-tap-highlight-color: rgba(selection_color, .25);
}
