// Tâmia © 2014 Artem Sapegin http://sapegin.me
// Toggle

toggle_transition_time ?= .3s

.toggle-element
	transition: all toggle_transition_time ease-in-out-cubic

	&.is-hidden
		opacity: 0

	&.is-transit
		display: block
		transform: translateZ(0)

	&.toggle-transition-slide
		transition: all toggle_transition_time linear
		backface-visibility: hidden

	&.toggle-transition-slide.is-hidden
		opacity: 1
		transform: translateZ(0) rotateX(90deg)

.toggle-crossfade-wrapper
	& > *
		position: absolute
