// Tâmia © 2014 Artem Sapegin http://sapegin.me
// Russian Rouble sign ß

// IE9+
// Details: http://artgorbunov.ru/bb/soviet/20120223/
// Fonts from http://www.artlebedev.ru/kovodstvo/sections/159/

@font-face
	font-family: 'ALSRubl-Arial'
	src: embedurl('fonts/rouble-arial-regular.woff') format('woff')
	font-weight: normal
	font-style: normal

.rub,
.rub_arial
	font-family: 'ALSRubl-Arial'
	line-height: normal
