// Tâmia © 2014 Artem Sapegin http://sapegin.me
// Table
// Based on https://github.com/twbs/bootstrap/blob/master/less/tables.less

table_border_color ?= #ddd


.table
	space(2)
	width: 100%;
	font-size: .8em
	font-size: .8rem

	th
		text-align: left

	// Cells
	> thead,
	> tbody,
	> tfoot
		> tr
			> th,
			> td
				padding: 8px
				vertical-align: top
				border-top: 1px solid table_border_color
			> th:first-child,
			> td:first-child
				padding-left: 0
			> th:last-child,
			> td:last-child
				padding-right: 0

	// Bottom align for column headings
	> thead > tr > th
		vertical-align: bottom
		border-bottom: 2px solid table_border_color

	// Remove top border from thead by default
	> caption + thead,
	> colgroup + thead,
	> thead:first-child
		> tr:first-child
			> th,
			> td
				border-top: 0

	// Account for multiple tbody instances
	> tbody + tbody
		border-top: 2px solid table_border_color
