// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Select with custom design

// Bones

.select
	no-select()
	position: relative
	display: block
	width: 100%
	font-size: 1em

	&__select
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		width: 100%
		opacity: 0
		z-index: 2
		cursor: default
		transform: scaleY(5)  // Select height could be smaller than box height

	&__box
		display: block
		vertical-align: middle
		line-height: 1
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis


	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 0
		z-index: 1


// Default skin

modules_default_skin ?= true
select_default_skin ?= false

if modules_default_skin or select_default_skin
	.select
		&__box
			height: 2em
			padding: .5em 1.5em .5em .5em
			background: #f4f4f4
			background: linear-gradient(to bottom, #fefefe, #f4f4f4)
			border: 1px solid #bbb
			border-bottom-color: #aaa
			line-height: 1
			color: #555
			border-radius: .15em
			transition: border-color .1s ease-in-out, box-shadow .1s ease-in-out

		&:after
			content: "▼"
			padding-right: .2em
			text-align: center
			vertical-align: middle
			font-size: 1em
			line-height: 2em

		.is-focused &__box
			border-color: form_focus_color
			box-shadow: 0 0 .4em rgba(form_focus_color, .75)
