// Tooltip

@import "../../styles/core";

tooltip_base_color = #fff;
tooltip_bg_color = black(0.9);

// Bones

.tooltip,
.has-tooltip:before {
	position: relative;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
}

.tooltip:after,
.has-tooltip:before,
.has-tooltip:after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.has-tooltip {
	position: relative;

	&:before {
		content: attr(data-tooltip);
	}

	&:before,
	&:after {
		top: 100%;
		display: none;
	}

	&:hover:before,
	&:hover:after {
		display: block;
	}
}


// Default skin

modules_default_skin ?= true;
tooltip_default_skin ?= false;

if (modules_default_skin or tooltip_default_skin) {
	_tooltip_arrow = 5px;

	.tooltip,
	.has-tooltip:before {
		padding: .2em .5em;
		background: tooltip_bg_color;
		color: tooltip_base_color;
		font-size: 14px;
		border-radius: form_border_radius;
	}

	.tooltip:after,
	.has-tooltip:after {
		triangle("up", _tooltip_arrow, tooltip_bg_color);
	}

	.tooltip:after {
		top: (-(_tooltip_arrow));
	}

	.has-tooltip:before {
		margin-top: _tooltip_arrow;
	}
}
