// Code blocks

@import "../../styles/core";

modules_default_skin ?= true;
code_default_skin ?= false;
code_class_prefix ?= "hljs-";
code_font ?= Consolas, "Lucida Console", Monaco, "DejaVu Sans Mono", monospace;
code_base_color ?= #4d4d4c;
code_bg_color ?= white(.7);
code_border ?= 1px solid black(.2);
code_border_radius ?= 3px;

.code,
.text code,
.text kbd,
.text pre,
.text pre * {
	font-family: code_font;
}

.code {
	display: block;
	white-space: pre-wrap;
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
	-webkit-text-size-adjust: none;

	code {
		display: block;
		font-size: 14px;
		line-height: 1.3;
	}

	.indent {
		display: inline-block;
		width: 2.2em;
	}

	if (modules_default_skin or code_default_skin) {
		@import "./tomorrow";

		code {
			padding: spacer;
			color: code_base_color;
			background: code_bg_color;
			border-radius: code_border_radius;
			border: code_border;

			@media print {
				border: 0;
			}
		}
	}
}

// Enable code in .text blocks
.text pre {
	@extend .code
}
