
// Tomorrow theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow.css
code_theme_0 ?= #8e908c;  // Comment
code_theme_1 ?= #c82829;  // Red
code_theme_2 ?= #f5871f;  // Orange
code_theme_3 ?= #eab700;  // Yellow
code_theme_4 ?= #718c00;  // Green
code_theme_5 ?= #4271ae;  // Blue
code_theme_6 ?= #8959a8;  // Purple

// @stylint off

_prefix = code_class_prefix;

.{_prefix}comment,
.{_prefix}quote {
	color: code_theme_0;
	@media print {
		font-style: italic;
	}
}

.{_prefix}variable,
.{_prefix}template-variable,
.{_prefix}tag,
.{_prefix}name,
.{_prefix}selector-id,
.{_prefix}selector-class,
.{_prefix}regexp,
.{_prefix}deletion {
	color: code_theme_1;
	@media print {
		font-weight: bold;
	}
}

.{_prefix}number,
.{_prefix}built_in,
.{_prefix}builtin-name,
.{_prefix}literal,
.{_prefix}type,
.{_prefix}params,
.{_prefix}meta,
.{_prefix}link {
	color: code_theme_2;
}

.{_prefix}attribute {
	color: code_theme_3;
}

.{_prefix}string,
.{_prefix}symbol,
.{_prefix}bullet,
.{_prefix}addition {
	color: code_theme_4;
}

.{_prefix}title,
.{_prefix}section {
	color: code_theme_5;
}

.{_prefix}keyword,
.{_prefix}selector-tag {
	color: code_theme_6;
}

.{_prefix}emphasis {
	font-style: italic;
}

.{_prefix}strong {
	font-weight: bold;
}
