// Tâmia © 2015 Artem Sapegin http://sapegin.me
// Helper classes

// Element is hidden.
.is-hidden
	display: none !important

// Element is invisible (but occupies place on page).
.is-invisible
	visibility: hidden

/// Element is in transit between hidden (.is-hidden) and visible.
.is-transit
	display: block !important
	&.l-center
		display: table !important

// Clearfix.
.group
	clearfix()
