// Configuration

/// Debug mode.
DEBUG ?= false;

// Default spacer.
spacer ?= 10px;

// Max page with.
max_width ?= null;

// Max content block (.content) with.
content_max_width ?= null;

// Sticky footer height (default: no sticky footer).
//
// Example:
//   <footer class="footer">
//     <div class="footer-i">
//       Footer content
//     </div>
//   </footer>
sticky_footer_height ?= null;

// Background color.
bg_color ?= #fff;

// Base text color.
base_color ?= #111;

// Generic border color.
border_color ?= #ddd;

// Form background color.
form_bg_color ?= #fff;

// Form button color.
form_button_color ?= #555;

// Form button hover color.
form_button_hover_color ?= #333;

// Form focus outline color.
form_focus_color ?= hsl(204, 68%, 69%);

// Form focus shadow color.
form_focus_shadow_color ?= rgba(form_focus_color, .75);

// Form focus shadow.
form_focus_shadow ?= 0 0 .4em form_focus_shadow_color;

// Form border color.
form_border_color ?= #bbb;

// Form border color.
form_light_border_color ?= #aaa;

// Form light background color.
form_light_bg_color ?= #fefefe;

// Form lighter background color.
form_lighter_bg_color ?= #f0f0f0;

// Form very light background color.
form_very_light_bg_color ?= #fafafa;

// Form dark background color.
form_dark_bg_color ?= #eaeaea;

// Form border radius.
form_border_radius ?= .15em;
