///
/// Debug classes
///

// @stylint off

if DEBUG {
	@import "../core";

	.tamia__help {
		transition: opacity .15s ease-in-out;
		&-i {
			display: flex;
			align-items: center;
			justify-content: center;
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
		&.is-hidden {
			opacity: 0;
		}
		* {
			color: #000;
			text-shadow: none;
			font: 16px/20px "Helvetica Neue", Arial, sans-serif;
		}
		ul {
			background: white(.9);
			position: relative;
			padding: 2.5*spacer 2.5*spacer 2.5*spacer;
			border: 1px solid white(.95);
			border-radius: .25em;
			box-shadow: 0 0 3em black(.2);
		}
		li {
			margin-bottom: spacer;
		}
		li:last-child {
			margin-bottom: 0;
		}
		kbd {
			display: inline-block;
			margin-right: .3em;
			padding: .1em .3em;
			background: #ccc;
			border-radius: .3em;
			text-shadow: 0 1px 0 white(.4);
		}
	}

	.tamia__show-layout-outlines {
		.tamia__grid-col,
		.tamia__layout-col {
			transition: outline .15s ease-in-out;
		}
		.tamia__grid-col {
			outline: 1px solid #fc6 !important;
		}
		.tamia__layout-col {
			outline: 1px solid #6cc !important;
		}
	}

	.tamia__show-all-outlines {
		*:before,
		*:after {
			outline: 1px solid #d381c3 !important;
		}
		* {
			outline: 1px solid #fb0120 !important;
			* {
				outline: 1px solid #fc6d24 !important;
				* {
					outline: 1px solid #fda331 !important;
					* {
						outline: 1px solid #a1c659 !important;
						* {
							outline: 1px solid #76c7b7 !important;
							* {
								outline: 1px solid #6fb3d2 !important;
								* {
									outline: 1px solid #be643c !important;
								}
							}
						}
					}
				}
			}
		}
	}

	.tamia__grid-row,
	.tamia__layout-row {
		position: relative;
	}

	.tamia__grid-debugger {
		display: flex;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 10000;
		overflow: hidden;
		pointer-events: none;
		transition: opacity .15s ease-in-out;
		&.is-hidden {
			opacity: 0;
		}
		&.is-transit {
			display: flex !important;
		}
	}

	.tamia__grid-debugger-col {
		grid-col-padding();
		width: grid-width();
		height: inherit;
		&:before {
			content: "";
			display: block;
			height: inherit;
			background: hsla(220, 40%, 50%, .25);
		}
	}
}
