// Sticky footer
// Based on mystrd.at/modern-clean-css-sticky-footer/

if sticky_footer_height {
	html {
		position: relative;
		min-height: 100%;
	}

	body {
		padding-bottom: sticky_footer_height;
	}

	.footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: sticky_footer_height;
		if max_width {
			&-i {
				max-width: max_width;
				margin-side: auto;
				padding: 0 spacer;
			}
		}
		else {
			padding: 0 spacer;
		}
	}
}
