//
// Link classes
//

@import "../core";

_is_underline = (link_style == "underline");
_is_gradient = (link_style == "gradient");

// Link.
.link {
	&,
	& u {
		cursor: pointer;
		if _is_underline {
			text-decoration: underline;
			transition: color .2s ease-in-out;
		}
		else {
			text-decoration: none;
		}
		if _is_gradient {
			background-repeat: repeat-x;
			link-underline-position: link_underline_position;
			link-underline-size: 1px;
		}
	}
	if _is_underline {
		&:hover,
		&:hover u {
			transition: none;
		}
	}

	&,
	&:link,
	& u,
	&:link u {
		color: link_color;
		if _is_gradient {
			link-underline(link_underline_color);
		}
	}

	& u {
		vertical-align: baseline;
	}

	if _is_underline {
		&:visited,
		&:visited u {
			color: visited_color;
		}
	}

	&:hover,
	&:active,
	&:focus,
	&:hover u,
	&:active u,
	&:focus u {
		color: hover_color;
		if _is_gradient {
			link-underline(hover_underline_color);
		}
	}
}

// Link in quotes (quotes should be colored but not underlined).
//
// Examples:
//
// ```html
// <a href="/" class="link link_quoted">“<u>My Little Pony</u>”</a>
// ```
.link_quoted {
	+link-all-states() {
		no-underline();
	}
}

.text {
	a {
		@extend .link;
	}
}

@media print {
	.link,
	.link u {
		background-image: none;
		text-decoration: underline;
	}
}
