//
// Misc classes
//

@import "../core";

// Element is hidden.
.is-hidden {
	display: none !important;
}

// Element is invisible (but occupies place on page).
.is-invisible {
	visibility: hidden;
}

/// Content max width.
if content_max_width {
	.content {
		max-width: content_max_width;
		margin: 0 auto;
	}
}
