<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><% if (page !== 'index') { %><%= menu[page] %> — <% } %>Tâmia</title>
	<link href="styles.css" rel="stylesheet">
</head>
<body>

	<div class="dash-content">
		<div class="splash">
			<h1 class="splash__title">Tâmia</h1>
			<div class="splash__subtitle">Tiny but extremely opinionated front-end framework by <a href="http://sapegin.me/" class="link">Artem Sapegin</a>.</div>
		</div>
		<div class="text">
			<%= html %>
		</div>
	</div>

</body>
</html>
