blocks_default_skin = true

@import "tamia"
@import "blocks/text"
@import "blocks/list"
@import "blocks/code"
@import "blocks/richtypo"

body
	padding: 2*spacer 4*spacer
	font: 16px/1.4 Helvetica, arial, freesans, clean, sans-serif

