modules_default_skin = true
content_max_width = 1024px

@import "tamia"
import_tree("../modules")

body
	font: 16px/1.4 "Helvetica Neue", Arial, sans-serif

.content
	padding: 0 4*spacer

.page-content
	padding-top: spacer
	padding-bottom: spacer

.header
	tweak-inverted-text()
	background: #222
	color: #fff

	a
		&,
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus
			color: #fff

.logo
	display: inline-block
	margin-right: 2em
	padding: 4px 0 10px
	font-size: 24px

.nav
	display: inline-block
	list-style-type: none

	&__item
		display: inline-block

	&__link
		display: block
		padding: 12px .75em 13px

	&__link_active
		background: #555
		background: linear-gradient(to bottom, #555, #3f3f3f)
		text-decoration: none


.splash
	space(4)

	&__title
		font-size: 56px
		font-weight: normal

	&__subtitle
		font-size: 28px

.example
	_border_size = 5px
	space(1)
	margin-left: (-(spacer + _border_size));
	padding: 5px 0 5px spacer
	border-left: _border_size solid hsl(92, 28%, 65%);

.example-code
	space(3)

	&__link
		space()
