// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Helper classes

// Element is hidden.
.is-hidden
	display: none

/// Element is in transit between hidden (.is-hidden) and visible.
.is-transit
	display: block
	&.l-center
		display: table

// Image replacement.
.ir
	background-color: transparent
	border: 0
	overflow: hidden
	&:before
		content: ""
		display: block
		width: 0
		height: 150%

// Clearfix.
.group
	clearfix()
