// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Helper classes

// Element is hidden.
.is-hidden
	display: none

/// Element is in transit between hidden (.is-hidden) and visible.
.is-transit
	display: block
	&.l-center
		display: table

// Clearfix.
.group
	clearfix()
