// Tâmia © 2013 Artem Sapegin http://sapegin.me

// Debug mode (default: false).
DEBUG ?= false

// Default spacer (default: 10px).
spacer ?= 10px;

// Max page with.
max-width ?= null;

// Max content block (.content) with.
content-max-width ?= null;

// Sticky footer height.
sticky-footer-height ?= null;

// Background color (default: white).
bg-color ?= #fff;

// Base text color (default: #111).
base-color ?= #111;


support-for-ie ?= false
@import "nib/gradients"
@import "nib/vendor"
@import "nib/clearfix"
@import "nib/positions"

@import "./misc"
@import "./functions"
@import "./layout"
@import "./images"
@import "./fonts"
@import "./bootstrap"
@import "./links"
