// Tâmia © 2013 Artem Sapegin http://sapegin.me

DEBUG ?= false

support-for-ie ?= false
@import "nib/gradients"
@import "nib/vendor"
@import "nib/clearfix"

@import "misc"
@import "functions"
@import "layout"
@import "images"
@import "fonts"
@import "bootstrap"
@import "links"
