// Tâmia © 2015 Artem Sapegin http://sapegin.me
// Links

//
// Configuration
//

// Link underline style (default: underline).
//
// Values:
// - none - no underline.
// - underline - text-decoration:underline.
// - gradient - Uses CSS gradients to position line under text (cannot change line color on hover).
link_style ?= "underline"

_is_underline = (link_style == "underline")
_is_gradient = (link_style == "gradient")

// Link color.
link_color ?= #1978c8

// Visited link color (only for underline links because image backgrounds don’t work on :visited links).
visited_color ?= #a963b8
if _is_gradient
	visited_color = link_color

// Hovered link color.
hover_color ?= #f28a25

// Link underline color (for gradient links).
link_underline_color ?= currentColor

// Hovered link underline color (for gradient links).
hover_underline_color ?= currentColor

// Link underline position (only for gradient links, default: 90%)
link_underline_position ?= 90%
link_underline_position = 85%  if _is_underline


//
// Mixins
//

// Adds link underline (for gradient links).
link-underline(color)
	background-image: linear-gradient(to left, color 50%, color 50%)

// Adds fake link underline
link-fake-underline(color)
	background-image: linear-gradient(to right, color, color 50%, transparent 50%)

// Link underline position (for gradient and fake links).
link-underline-position(position)
	background-position: 0 position

// Link underline size (for gradient and fake links).
link-underline-size(height, step=1px)
	background-size: step height

// :hover, :active and :focus states of the link.
//
// Example:
//
// 	 +link-hovers()
//	 	color: #bada55
link-hovers()
	&:hover,
	&:active,
	&:focus
		{block}

// :link and :visited states of the link.
//
// Example:
//
// 	 +link-non-hovers()
//	 	color: #bada55
link-non-hovers()
	&,
	&:link,
	&:visited
		{block}

// All states of the link.
//
// Example:
//
// 	 +link-all-states()
//	 	color: @color
link-all-states()
	&,
	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus
		{block}

// Clear link descenders.
link-clear-descenders(bg_color)
	text-shadow: 3px 0 bg_color, 2px 0 bg_color, 1px 0 bg_color, -1px 0 bg_color, -2px 0 bg_color, -3px 0 bg_color

// Pressable element: pointer cursor + disable text selection.
pressable()
	no-select()
	cursor: pointer

// Non-pressable element: cancels .pressable.
no-pressable()
	cursor: default
	pointer-events: none

// Remove underline.
no-underline()
	+link-all-states()
		text-decoration: none
		background-image: none


//
// Classes
//

// Link.
.link
	&,
	& u
		transition: color .2s ease-in-out, background .2s ease-in-out
		cursor: pointer
		if _is_underline
			text-decoration: underline
		else
			text-decoration: none
		if _is_gradient
			background-repeat: repeat-x
			link-underline-position: link_underline_position
			link-underline-size: 1px
	&:hover,
	&:hover u
		transition: none

	&,
	&:link,
	& u,
	&:link u
		color: link_color
		if _is_gradient
			link-underline(link_underline_color)

	if _is_underline
		&:visited,
		&:visited u
			color: visited_color

	&:hover,
	&:active,
	&:focus,
	&:hover u,
	&:active u,
	&:focus u
		color: hover_color
		if _is_gradient and hover_underline_color != currentColor
			link-underline(hover_underline_color)

// Pseudo link with dashed underline.
.link_fake
	link-underline-size: 1px 5px
	if _is_underline
		text-decoration: none
		background-repeat: repeat-x
		link-underline-position: link_underline_position

	&,
	&:link,
	&:visited
		link-fake-underline(link_underline_color)
		color: link_color

	&:hover,
	&:active,
	&:focus
		if hover_underline_color != currentColor
			link-fake-underline(hover_underline_color)
		color: hover_color

// Link in quotes (quotes should be colored but not underlined).
//
// Example:
//
//   <a href="/" class="link link_quoted">“<u>My Little Pony</u>”</a>
.link_quoted
		no-underline()

.no-cssgradients
	.link
		text-decoration: underline
	.link_fake
		text-decoration: none
		border-bottom: 1px dotted

@media print
	.link,
	.link u,
	.link_fake
		background-image: none
		text-decoration: underline
