.bottom05 {
	margin-bottom: var(--spacer0);
}

.bottom1 {
	margin-bottom: var(--spacer1);
}

.bottom2 {
	margin-bottom: var(--spacer2);
}

.bottom3 {
	margin-bottom: var(--spacer3);
}

.bottom4 {
	margin-bottom: var(--spacer4);
}

.bottom5 {
	margin-bottom: var(--spacer5);
}

.bottom6 {
	margin-bottom: var(--spacer6);
}

.bottom7 {
	margin-bottom: var(--spacer7);
}

.bottom8 {
	margin-bottom: var(--spacer8);
}
