.bottom05 {
	margin-bottom: calc(var(--spacer) / 2);
}

.bottom1 {
	margin-bottom: var(--spacer);
}

.bottom2 {
	margin-bottom: calc(var(--spacer) * 2);
}

.bottom3 {
	margin-bottom: calc(var(--spacer) * 3);
}

.bottom4 {
	margin-bottom: calc(var(--spacer) * 4);
}

.bottom5 {
	margin-bottom: calc(var(--spacer) * 5);
}

.bottom6 {
	margin-bottom: calc(var(--spacer) * 6);
}
