/**
 * Text link.
 */
@utility link {
	padding: 0;
	background: none;
	border: 0;
	font: inherit;
	line-height: inherit;
	text-decoration: underline;
	color: var(--color-primary);
	transition: all var(--duration-hover) var(--ease-hover);

	&:visited {
		color: var(--color-primary);
	}

	&:hover:not(:disabled) {
		color: var(--color-accent);
		cursor: pointer;
	}

	&:focus-visible {
		outline: var(--border-width-focus) solid var(--color-accent);
		outline-offset: var(--border-width-focus-offset);
		border-radius: 0.05em;
	}
}
