.root {
	display: inline-block;
	font-size: 18px;
	margin-right: 0.75em;
}

.root:last-child {
	margin-right: 0;
}

.icon {
	position: relative;
	top: 0.1em;
	fill: currentColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.label {
	margin-left: 0.2em;
	line-height: 1;
}
