// Media object
// Based on https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
// More info: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

.media {
	display: flex;
	align-items: flex-start;

	&__img {
		margin-right: spacer;
	}
	&__img_rev {
		margin-right: 0;
		margin-left: spacer;
	}

	&__body {
		flex: 1;
	}
}
