// Tâmia © 2015 Artem Sapegin http://sapegin.me
// Basic text styles

text_default_headings ?= true

.text
	responsive-images()

	word-wrap: break-word
	hyphens: auto

	p,
	ul,
	ol,
	li,
	pre,
	blockquote
		space(2)

	blockquote
		font-size: .8em
		padding: 0 2em

	a
		@extend .link

if text_default_headings
	.alpha,
	.text h1,
	.beta,
	.text h2,
	.gamma,
	.text h3,
	.delta,
	.text h4,
	.epsilon,
	.text h5
		margin-top: 4*spacer
		margin-bottom: 2*spacer
		line-height: 1.2
		font-weight: normal

	.alpha,
	.text h1
		heading-font-size: 44px

	.beta,
	.text h2
		heading-font-size: 34px

	.gamma,
	.text h3
		heading-font-size: 28px

	.delta,
	.text h4
		heading-font-size: 20px

	.epsilon,
	.text h5
		heading-font-size: 1em
		font-weight: bold

// Collapse margin between headings and before first heading.
.text h1 + h2,
.text h2 + h3,
.text h3 + h4,
.text h4 + h5,
.alpha + .beta,
.beta + .gamma,
.gamma + .delta,
.delta + .epsilon,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
.alpha:first-child,
.beta:first-child,
.gamma:first-child,
.delta:first-child
	margin-top: 0
