// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Modal

modal_shade_color ?= black(.4)

// Body class to disable page scroll when modal is open
.modal-opened
	overflow: hidden

// Modal shade
.modal-shade
	position fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	padding: 1em
	background: modal_shade_color
	z-index: 99999

	&.is-switching
		background: none

.modal-shade,
.modal
	transition: opacity .15s ease-out

	&.is-hidden
		opacity: 0


// Bones
.modal
	&_fluid
		width: 100%
		max-width: 800px

	.l-center &
		display: inline-block


// Default skin

modules_default_skin ?= true
modal_default_skin ?= false

if modules_default_skin or modal_default_skin
	.modal
		background: #fff
		border: 1px solid #ccc
		border-radius: .3em
		box-shadow: 0 0 3em black(.3)

		&__header,
		&__body,
		&__footer
			padding: 3*spacer 2*spacer
			border: 0 solid #ddd

		&__header
			position: relative
			padding-top: 1.5*spacer
			padding-bottom: @padding-top
			border-bottom-width: 1px

		&__body
			position: relative
			padding-bottom: 4*spacer

		&__footer
			text-align: right
			background: #fafafa
			border-top-width: 1px

		&__title
			margin-bottom: -.1em
			line-height: 1.2
			font-weight: normal
			font-size: 20px

		&__close
			position: absolute
			top: 1.5*spacer - 2px
			right: 2*spacer
