// Tâmia © 2014 Artem Sapegin http://sapegin.me
// Fading text
// Based on http://mir.aculo.us/2012/09/16/masking-html-elements-with-gradient-based-fadeouts/ + thanks to @kizu

.fade
	display: block
	overflow: hidden
	white-space: nowrap
	mask: embedurl("mask.svg#fade-mask")  // Firefox
	-webkit-mask: -webkit-linear-gradient(right, transparent 0, #000 3em)  // Webkit
	-ms-text-overflow: ellipsis  // IE
