//
// Links
//

_is_underline = (link_style == "underline");
_is_gradient = (link_style == "gradient");

// Link.
.link {
	&,
	& u {
		transition: color .2s ease-in-out, background .2s ease-in-out;
		cursor: pointer;
		if _is_underline {
			text-decoration: underline;
		}
		else {
			text-decoration: none;
		}
		if _is_gradient {
			background-repeat: repeat-x;
			link-underline-position: link_underline_position;
			link-underline-size: 1px;
		}
	}
	&:hover,
	&:hover u {
		transition: none;
	}

	&,
	&:link,
	& u,
	&:link u {
		color: link_color;
		if _is_gradient {
			link-underline(link_underline_color);
		}
	}

	if _is_underline {
		&:visited,
		&:visited u {
			color: visited_color;
		}
	}

	&:hover,
	&:active,
	&:focus,
	&:hover u,
	&:active u,
	&:focus u {
		color: hover_color;
		if _is_gradient and hover_underline_color != currentColor {
			link-underline(hover_underline_color);
		}
	}
}

// Pseudo link with dashed underline.
.link_fake {
	link-underline-size: 1px 5px;
	if _is_underline {
		text-decoration: none;
		background-repeat: repeat-x;
		link-underline-position: link_underline_position;
	}

	&,
	&:link,
	&:visited {
		link-fake-underline(link_underline_color);
		color: link_color;
	}

	&:hover,
	&:active,
	&:focus {
		if hover_underline_color != currentColor {
			link-fake-underline(hover_underline_color);
		}
		color: hover_color;
	}
}

// Link in quotes (quotes should be colored but not underlined).
//
// Examples:
//
// ```html
// <a href="/" class="link link_quoted">“<u>My Little Pony</u>”</a>
// ```
.link_quoted {
	no-underline();
}

.text {
	a {
		@extend .link;
	}
}

@media print {
	.link,
	.link u,
	.link_fake {
		background-image: none;
		text-decoration: underline;
	}
}
