blocks_default_skin = true

@import "tamia"
@import "blocks/tooltip"
@import "blocks/form"
@import "blocks/password"
@import "blocks/checkbox"
@import "blocks/switcher"
@import "blocks/spinner"
@import "blocks/flippable"

// Colors
// http://chriskempson.github.io/base16/
.c1
	background: #90a959
.c2
	background: #75b5aa
.c3
	background: #6a9fb5
.c4
	background: #aa759f
.c5
	background: #8f5536
.c6
	background: #ac4142
.c7
	background: #d28445
.c8
	background: #f4bf75

//
.spec
	margin-bottom: 20px

	&_password
		width: 200px
		.password,
		.password__field
			width: inherit


.dialog
	position: fixed
	left: 50%
	top: 50%
	padding: 2*spacer
	transform: translate(-50%, -50%)
	background: #fff
	box-shadow: 0 0 10px black(.2)
	transition: opacity .5s ease-in-out

	&.is-hidden
		opacity: 0


body
	padding: 20px
	font: 16px/1.4 Helvetica, arial, freesans, clean, sans-serif

h2
	font-size: 24px
	font-weight: normal
	margin-bottom: 20px
