@import "tamia"

// Colors
// http://chriskempson.github.io/base16/
.c1
	background: #90a959
.c2
	background: #75b5aa
.c3
	background: #6a9fb5
.c4
	background: #aa759f
.c5
	background: #8f5536
.c6
	background: #ac4142
.c7
	background: #d28445
.c8
	background: #f4bf75

//
.spec
	margin-bottom: 20px

body
	padding: 20px
	font: 16px/1.4 Helvetica, arial, freesans, clean, sans-serif

h2
	font-size: 24px
	font-weight: normal
	margin-bottom: 20px
