.l-row {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.no-flexbox .l-row {
  letter-spacing: -.31em;
}

.l-sixth,
.l-quarter,
.l-third,
.l-half,
.l-three-quarters,
.l-two-thirds {
  padding-left: 10px;
  padding-right: 10px;
}

.no-flexbox .l-sixth,
.no-flexbox .l-quarter,
.no-flexbox .l-third,
.no-flexbox .l-half,
.no-flexbox .l-three-quarters,
.no-flexbox .l-two-thirds {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.l-sixth {
  width: 16.666666666666668%;
}

.l-quarter {
  width: 25%;
}

.l-three-quarters {
  width: 75%;
}

.l-third {
  width: 33.333333333333336%;
}

.l-two-thirds {
  width: 66.66666666666667%;
}

.l-half {
  width: 50%;
}

.l-left,
.l-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.l-right {
  text-align: right;
}

.no-flexbox .l-left {
  float: left;
}

.no-flexbox .l-right {
  float: right;
}

.l-center {
  display: table;
  width: 100%;
  height: 100%;
}

.l-center-i {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.l-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.l-space {
  margin-bottom: 10px;
}

.l-double-space {
  margin-bottom: 20px;
}

.l-triple-space {
  margin-bottom: 30px;
}

.l-quad-space {
  margin-bottom: 40px;
}

.g-debug-col {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 8.333333333333334%;
}

.g-debug-helper {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 3000px;
  z-index: 10000;
  overflow: hidden;
  pointer-events: none;
}

.g-debug-helper * {
  height: 100%;
}

.g-debug-helper [data-component="grid"] {
  margin-left: -10px;
  margin-right: -10px;
}

.g-debug-helper .g-debug-col:before {
  content: "";
  display: block;
  height: inherit;
  background: rgba(77,110,179,0.25);
}

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

sup,
sub,
small,
code {
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

a img,
a.img {
  border: none !important;
  background-image: none !important;
}

abbr {
  border-bottom: none;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button,
input {
  line-height: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset,
legend {
  border: 0;
}

[hidden] {
  display: none;
}

pre {
  white-space: pre-wrap;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

::-moz-selection {
  color: #111;
  background: rgba(102,102,102,0.5);
  text-shadow: none;
}

::selection {
  color: #111;
  background: rgba(102,102,102,0.5);
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: rgba(102,102,102,0.25);
}

.no-touch a[href^="tel"]:link,
.no-touch a[href^="tel"]:visited,
.no-touch a[href^="tel"]:hover,
.no-touch a[href^="tel"]:active,
.no-touch a[href^="tel"]:focus {
  position: inherit;
  text-decoration: inherit;
  border: inherit;
  color: inherit;
  background-image: none;
  cursor: default;
}

.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}

.is-transit {
  display: block;
}

.is-transit.l-center {
  display: table;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.pressable-inset,
.pressable,
.link,
.link u {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.no-pressable,
.no-pressable:hover,
.no-pressable:active {
  cursor: default;
}

.no-underline,
.link_quoted,
.no-underline:link,
.link_quoted:link,
.no-underline:visited,
.link_quoted:visited,
.no-underline:hover,
.link_quoted:hover,
.no-underline:active,
.link_quoted:active,
.no-underline:focus,
.link_quoted:focus {
  text-decoration: none;
  border-bottom: 0;
  background-image: none;
}

.link,
.link u {
  -webkit-transition: border .1s ease-in-out,color .2s ease-in-out,background .2s ease-in-out;
  transition: border .1s ease-in-out,color .2s ease-in-out,background .2s ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}

.link,
.link:link,
.link u,
.link:link u {
  color: #1978c8;
}

.link:visited,
.link:visited u {
  color: #1978c8;
}

.link:hover,
.link:active,
.link:focus,
.link:hover u,
.link:active u,
.link:focus u {
  color: #1978c8;
}

.link_fake {
  text-decoration: none;
  background-position: 0 76.5%;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}

.link_fake,
.link_fake:link,
.link_fake:visited {
  background-image: -webkit-linear-gradient(left, rgba(25,120,200,0.4), rgba(25,120,200,0.4) 50%, transparent 50%);
  background-image: linear-gradient(to right,rgba(25,120,200,0.4),rgba(25,120,200,0.4) 50%,transparent 50%);
  color: #1978c8;
}

.link_fake:hover,
.link_fake:active,
.link_fake:focus {
  background-image: -webkit-linear-gradient(left, rgba(25,120,200,0.4), rgba(25,120,200,0.4) 50%, transparent 50%);
  background-image: linear-gradient(to right,rgba(25,120,200,0.4),rgba(25,120,200,0.4) 50%,transparent 50%);
  color: #1978c8;
}

.no-cssgradients .link {
  text-decoration: underline;
}

.no-cssgradients .link_fake {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.checkbox,
.radio {
  white-space: nowrap;
}

.checkbox__button,
.radio__button {
  display: none;
}

.checkbox__text,
.radio__text {
  display: inline-block;
  white-space: normal;
}

.checkbox__button,
.radio__button,
.checkbox__text,
.radio__text {
  vertical-align: middle;
}

.checkbox__input:checked,
.radio__input:checked,
.checkbox__input:not(:checked),
.radio__input:not(:checked) {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.checkbox__input:checked + .checkbox__label .checkbox__button,
.radio__input:checked + .radio__label .radio__button,
.checkbox__input:not(:checked) + .checkbox__label .checkbox__button,
.radio__input:not(:checked) + .radio__label .radio__button {
  display: inline-block;
}

.checkbox__input:checked + .checkbox__label .checkbox__button,
.radio__input:checked + .radio__label .radio__button {
  position: relative;
}

.checkbox__input:checked + .checkbox__label .checkbox__button:before,
.radio__input:checked + .radio__label .radio__button:before {
  content: "";
  position: absolute;
  line-height: 1;
}

.checkbox.is-disabled .checkbox__input + .checkbox__label,
.radio.is-disabled .radio__input + .radio__label {
  opacity: .4;
}

.checkbox__button,
.radio__button,
.checkbox__text,
.radio__text {
  line-height: 1.8;
  font-size: 1em;
}

.checkbox__input:checked + .checkbox__label .checkbox__button,
.radio__input:checked + .radio__label .radio__button,
.checkbox__input:not(:checked) + .checkbox__label .checkbox__button,
.radio__input:not(:checked) + .radio__label .radio__button {
  width: 1em;
  height: 1em;
  margin-top: -.15em;
  margin-right: .15em;
  border: 1px solid #bbb;
  border-radius: .15em;
  box-shadow: inset 0 .1em .2em rgba(0,0,0,0.1);
}

.checkbox__input:checked + .checkbox__label .checkbox__button:before,
.radio__input:checked + .radio__label .radio__button:before {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.checkbox__input:enabled:active + .checkbox__label .checkbox__button,
.radio__input:enabled:active + .radio__label .radio__button,
.checkbox__input:focus + .checkbox__label .checkbox__button,
.radio__input:focus + .radio__label .radio__button {
  background: #f4f4f4;
}

.checkbox__input:checked + .checkbox__label .checkbox__button:before {
  width: .8em;
  height: .65em;
  left: 50%;
  top: 50%;
  margin-left: -.4em;
  margin-top: -.325em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgNS44OTlsMi4xMzYtMi40MzIgMi4zNDIgMi42NjggNS4zODctNi4xMzUgMi4xMzYgMi40MzItNy41MjIgOC41NjgtNC40NzgtNS4xMDF6bTAgMCIgZmlsbD0iIzQ0NCIvPjwvc3ZnPgo=");
}

.no-svg .checkbox__input:checked + .checkbox__label .checkbox__button:before {
  margin-top: -.5em;
  font-size: .8em;
  font-weight: bold;
  color: #444;
  content: "✓";
}

.radio__input:checked + .radio__label .radio__button,
.radio__input:not(:checked) + .radio__label .radio__button {
  border-radius: 50%;
}

.radio__input:checked + .radio__label .radio__button:before {
  width: .5em;
  height: .5em;
  left: 50%;
  top: 50%;
  margin-left: -.25em;
  margin-top: -.25em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBmaWxsPSIjNDQ0IiBjeD0iNSIgY3k9IjUiIHI9IjUiLz48L3N2Zz4K");
}

.no-svg .radio__input:checked + .radio__label .radio__button:before {
  background: #444;
  border-radius: 50%;
}

.code,
.text code,
.text kbd,
.text pre,
.text pre * {
  font-family: Consolas,"Lucida Console",Monaco,"DejaVu Sans Mono",monospace;
}

.code,
.text pre {
  display: block;
  white-space: pre-wrap;
  -moz-tab-size: 4;
  tab-size: 4;
}

.code code,
.text pre code {
  display: block;
  font-size: 14px;
  line-height: 1.3;
}

.code .indent,
.text pre .indent {
  display: inline-block;
  width: 2.2em;
}

.code .tomorrow-comment,
.text pre .tomorrow-comment,
.code .comment,
.text pre .comment,
.code .title,
.text pre .title {
  color: #8e908c;
}

.code .tomorrow-red,
.text pre .tomorrow-red,
.code .variable,
.text pre .variable,
.code .attribute,
.text pre .attribute,
.code .tag,
.text pre .tag,
.code .regexp,
.text pre .regexp,
.code .ruby .constant,
.text pre .ruby .constant,
.code .xml .tag .title,
.text pre .xml .tag .title,
.code .xml .pi,
.text pre .xml .pi,
.code .xml .doctype,
.text pre .xml .doctype,
.code .html .doctype,
.text pre .html .doctype,
.code .css .id,
.text pre .css .id,
.code .css .class,
.text pre .css .class,
.code .css .pseudo,
.text pre .css .pseudo {
  color: #c82829;
}

.code .tomorrow-orange,
.text pre .tomorrow-orange,
.code .number,
.text pre .number,
.code .codeprocessor,
.text pre .codeprocessor,
.code .built_in,
.text pre .built_in,
.code .literal,
.text pre .literal,
.code .params,
.text pre .params,
.code .constant,
.text pre .constant {
  color: #f5871f;
}

.code .tomorrow-yellow,
.text pre .tomorrow-yellow,
.code .class,
.text pre .class,
.code .ruby .class .title,
.text pre .ruby .class .title,
.code .css .rules .attribute,
.text pre .css .rules .attribute {
  color: #eab700;
}

.code .tomorrow-green,
.text pre .tomorrow-green,
.code .string,
.text pre .string,
.code .value,
.text pre .value,
.code .inheritance,
.text pre .inheritance,
.code .header,
.text pre .header,
.code .ruby .symbol,
.text pre .ruby .symbol,
.code .xml .cdata,
.text pre .xml .cdata {
  color: #718c00;
}

.code .tomorrow-aqua,
.text pre .tomorrow-aqua,
.code .css .hexcolor,
.text pre .css .hexcolor {
  color: #3e999f;
}

.code .tomorrow-blue,
.text pre .tomorrow-blue,
.code .function,
.text pre .function,
.code .python .decorator,
.text pre .python .decorator,
.code .python .title,
.text pre .python .title,
.code .ruby .function .title,
.text pre .ruby .function .title,
.code .ruby .title .keyword,
.text pre .ruby .title .keyword,
.code .perl .sub,
.text pre .perl .sub,
.code .javascript .title,
.text pre .javascript .title,
.code .coffeescript .title,
.text pre .coffeescript .title {
  color: #4271ae;
}

.code .tomorrow-purple,
.text pre .tomorrow-purple,
.code .keyword,
.text pre .keyword,
.code .javascript .function,
.text pre .javascript .function {
  color: #8959a8;
}

.code code,
.text pre code {
  padding: 10px;
  background: #fff;
  background: rgba(255,255,255,0.7);
  border-radius: 3px;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.2);
}

.tomorrow-comment,
.comment,
.title {
  color: #8e908c;
}

.tomorrow-red,
.variable,
.attribute,
.tag,
.regexp,
.ruby .constant,
.xml .tag .title,
.xml .pi,
.xml .doctype,
.html .doctype,
.css .id,
.css .class,
.css .pseudo {
  color: #c82829;
}

.tomorrow-orange,
.number,
.codeprocessor,
.built_in,
.literal,
.params,
.constant {
  color: #f5871f;
}

.tomorrow-yellow,
.class,
.ruby .class .title,
.css .rules .attribute {
  color: #eab700;
}

.tomorrow-green,
.string,
.value,
.inheritance,
.header,
.ruby .symbol,
.xml .cdata {
  color: #718c00;
}

.tomorrow-aqua,
.css .hexcolor {
  color: #3e999f;
}

.tomorrow-blue,
.function,
.python .decorator,
.python .title,
.ruby .function .title,
.ruby .title .keyword,
.perl .sub,
.javascript .title,
.coffeescript .title {
  color: #4271ae;
}

.tomorrow-purple,
.keyword,
.javascript .function {
  color: #8959a8;
}

.fade {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: -webkit-linear-gradient(right,transparent 0,#000 3em);
  mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxtYXNrIG1hc2tDb250ZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94Ij48bGluZWFyR3JhZGllbnQgaWQ9ImEiPjxzdG9wIHN0b3AtY29sb3I9IiNmZmYiIG9mZnNldD0iLjciLz48c3RvcCBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNhKSIvPjwvbWFzaz48L3N2Zz4=#fade-mask");
  -ms-text-overflow: ellipsis;
}

.flippable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  -webkit-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  cursor: default;
}

.flippable__front,
.flippable__back {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .4s cubic-bezier(.175,.885,.32,1.275);
  transition: all .4s cubic-bezier(.175,.885,.32,1.275);
}

.flippable__front {
  z-index: 900;
  -webkit-transform: rotateY(0) rotateX(0);
  -ms-transform: rotateY(0) rotateX(0);
  transform: rotateY(0) rotateX(0);
}

.flippable__back {
  z-index: 800;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flippable_vertical .flippable__back {
  -webkit-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.flippable.is-flipped .flippable__front {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flippable_vertical.is-flipped .flippable__front {
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.is-flipped .flippable__back {
  -webkit-transform: rotateY(0) rotateX(0);
  -ms-transform: rotateY(0) rotateX(0);
  transform: rotateY(0) rotateX(0);
}

.is-disabled {
  cursor: default;
  pointer-events: none;
  text-shadow: none;
}

.field,
.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  line-height: 1;
  outline: 0;
  -webkit-transition: opacity .25 ease-out;
  transition: opacity .25 ease-out;
}

.field_block,
.button_block {
  display: block;
  width: 100%;
}

.field.is-disabled,
.button.is-disabled {
  opacity: .4;
}

.field::-ms-clear {
  width: 0;
  height: 0;
}

.field_area {
  resize: vertical;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.button::-moz-focus-inner {
  padding: 0;
  border: none;
}

.button + .button,
.field + .field,
.field + .button,
.button + .field {
  margin-left: 10px;
}

.form_block .field,
.form_block .button,
.form_block .select,
.form_block .password {
  display: block;
}

.form__group {
  margin-bottom: 20px;
}

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  width: 20%;
  min-width: 6em;
  max-width: 20em;
  padding-right: 10px;
  padding-top: .35em;
  text-align: right;
}

.form__widget {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 10px;
  text-align: left;
}

.close {
  line-height: 1;
  outline: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.field,
.button {
  height: 2em;
  border-radius: .15em;
}

.field:focus,
.button:focus {
  outline: 0;
  border-color: #7abbe6;
}

.field,
.button:active {
  -webkit-transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.field {
  padding: .3em .4em;
  background: #fff;
  border: 1px solid #bbb;
  box-shadow: inset 0 .1em .2em rgba(0,0,0,0.1);
}

.field:focus {
  box-shadow: inset 0 .1em .2em rgba(0,0,0,0.1),0 0 .4em rgba(122,187,230,0.75);
}

.field_area {
  height: auto;
}

.button {
  height: 2em;
  padding: .45em 1.5em .35em;
  background: #dfdfdf;
  background: -webkit-linear-gradient(top, #fefefe, #eaeaea);
  background: linear-gradient(to bottom,#fefefe,#eaeaea);
  border: 1px solid #bbb;
  border-bottom-color: #aaa;
  color: #555;
  border-radius: .15em;
  box-shadow: 0 .1em .1em rgba(0,0,0,0.05);
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

.button:focus {
  box-shadow: 0 0 .4em rgba(122,187,230,0.75);
}

.button:not(.is-disabled):hover {
  background: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background: linear-gradient(to bottom,#fff,#f0f0f0);
  color: #333;
}

.button:not(.is-disabled):active {
  padding-top: .55em;
  padding-bottom: .25em;
  background: #cacaca;
  background: -webkit-linear-gradient(top, #aaa, #dfdfdf);
  background: linear-gradient(to bottom,#aaa,#dfdfdf);
  box-shadow: 0 0 .4em rgba(122,187,230,0.75),inset 0 .1em .2em rgba(0,0,0,0.2),0 .025em .05em rgba(0,0,0,0.05);
  border-color: #7abbe6;
  border-top-color: #888;
}

.close {
  color: #666;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 1.2em;
  opacity: .5;
}

.close:before {
  content: "×";
}

.close:hover,
.close:active,
.close:focus {
  opacity: .8;
}

.list > li,
.text ul > li {
  position: relative;
  padding-left: 1.3em;
  margin-left: -1.3em;
}

.list > li:before,
.text ul > li:before {
  position: absolute;
  left: 0;
  content: "\2014\a0";
}

.list ul,
.text ul ul {
  margin-left: 1.3em;
}

.list li > ul,
.text ul li > ul,
.list li > ol,
.text ul li > ol {
  margin-bottom: 0;
}

@media only screen and (max-width: ) {
  .list > li,
  .text ul > li {
    margin-left: 0;
  }
}

.media {
  display: block;
}

.media:before,
.media:after {
  content: "";
  display: table;
}

.media:after {
  clear: both;
}

.media__img {
  float: left;
  margin-right: 10px;
}

.media__img_rev {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

.media__body {
  overflow: hidden;
}

.modal-opened {
  overflow: hidden;
}

.modal-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  background: rgba(0,0,0,0.4);
  z-index: 99999;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}

.modal-shade.is-hidden {
  opacity: 0;
}

.modal {
  width: 100%;
  max-width: 800px;
}

.l-center .modal {
  display: inline-block;
}

.modal {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: .3em;
  box-shadow: 0 0 3em rgba(0,0,0,0.3);
}

.modal__header,
.modal__body,
.modal__footer {
  padding: 20px;
  border: 0 solid #ddd;
}

.modal__header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  border-bottom-width: 1px;
}

.modal__footer {
  text-align: right;
  background: #fafafa;
  border-top-width: 1px;
}

.modal__title {
  margin-bottom: -.1em;
  line-height: 1.2;
  font-weight: normal;
  font-size: 20px;
}

.modal .close {
  position: absolute;
  top: 13px;
  right: 20px;
}

.password {
  position: relative;
  display: block;
}

.password_inline {
  display: inline-block;
}

.password__field {
  position: relative;
  width: 100%;
  z-index: 90;
}

.password__toggle {
  display: none;
}

.password.is-ok .password__toggle {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 100;
}

.password.is-ok .password__toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.password.is-disabled .password__toggle {
  opacity: .4;
}

.password::-ms-reveal {
  width: 0;
  height: 0;
}

.password.is-ok .password__toggle {
  width: 1.8em;
}

.password.is-ok .password__toggle:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "abc";
  font-size: .75em;
  letter-spacing: .1ex;
}

.password.is-ok.is-unlocked .password__toggle:before {
  content: "●●●";
  letter-spacing: 0;
}

@media print {
@page {
    margin: .5cm;
}

  nav,
  .social-likes,
  .no-print {
    display: none;
  }

  .print {
    display: block;
  }

  * {
    font-family: Cambria,Georgia,serif;
    color: #000 !important;
    background: transparent !important;
    float: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-shadow: none !important;
  }

  body {
    padding-bottom: 0;
  }

  a {
    border: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Corbel,'Helvetica Neue',Arial,sans-serif;
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  a:link:after,
  a:visited:after {
    content: " (" attr(href) ")";
    font-size: .9em;
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after,
  .footer a:after {
    content: "";
  }

  .header {
    margin-bottom: 20px;
    border-bottom: 1pt solid #000;
    height: auto;
  }

  .footer {
    position: static;
    margin-top: 20px;
    border-top: 1pt solid #000;
    height: auto;
  }

  .footer a {
    text-decoration: none;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  ul {
    margin-left: 1.2em !important;
  }
}

.abbr,
.text abbr {
  letter-spacing: .1em;
  margin-right: -.1em;
}

.amp {
  font-family: Baskerville,Constantia,Palatino,"Palatino Linotype","Book Antiqua",serif;
  font-style: italic;
}

.sbrace {
  margin-right: .3em;
}

.hbrace {
  margin-left: -.3em;
}

.slaquo {
  margin-right: .42em;
}

.hlaquo {
  margin-left: -.42em;
}

.text h1,
.alpha,
.text h2,
.beta,
.text h3,
.gamma,
.text h4,
.delta,
.text h5,
.epsilon,
.text h6,
.zeta {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  font-feature-settings: "liga","dlig";
}

.select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: block;
  overflow: hidden;
  font-size: 1em;
}

.select_inline {
  display: inline-block;
}

.select__select {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 2;
  cursor: default;
  -webkit-transform: scaleY(2);
  -ms-transform: scaleY(2);
  transform: scaleY(2);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.select__box {
  display: block;
  vertical-align: middle;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.select.is-disabled {
  opacity: .4;
}

.select {
  border: 1px solid #bbb;
  border-bottom-color: #aaa;
  border-radius: .15em;
  -webkit-transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.select__box {
  height: 2em;
  padding: .5em 1.5em .5em .5em;
  background: #f4f4f4;
  background: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background: linear-gradient(to bottom,#fefefe,#f4f4f4);
  line-height: 1;
  color: #555;
}

.select:after {
  top: 50%;
  right: .3em;
  width: .8em;
  height: .7em;
  margin-top: -.3em;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGgxMGwtNSA5LTUtOXoiIGZpbGw9IiM0NDQiLz48L3N2Zz4K") no-repeat;
  background-size: 100% 100%;
}

.no-svg .select:after {
  content: "▼";
  padding-right: .2em;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  line-height: 2em;
}

.select.is-focused {
  border-color: #7abbe6;
  box-shadow: 0 0 .4em rgba(122,187,230,0.75);
}

.spinner,
.loader {
  display: inline-block;
  width: .25em;
  height: .25em;
  margin: .5em .2em;
  opacity: .7;
  border-radius: 50%;
  font-size: 16px;
  box-shadow: 0 -.4em 0 0 #000,-.28em -.28em 0 0 rgba(0,0,0,0.75),-.4em 0 0 0 rgba(0,0,0,0.5),-.28em .28em 0 0 rgba(0,0,0,0.25);
}

.spinner_big,
.loader_big {
  font-size: 32px;
}

.loader {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s .3s,opacity .3s ease-out;
  transition: visibility 0s .3s,opacity .3s ease-out;
}

.is-loading .loader {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.spinner,
.is-loading .loader {
  -webkit-animation: .85s spinner-rotate steps(9) infinite;
  animation: .85s spinner-rotate steps(9) infinite;
}

.spinner.is-hidden,
.loader.is-hidden {
  -webkit-animation: none;
  animation: none;
}

.loader-wrapper {
  position: relative;
}

.loader-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255,255,255,0.8);
  border-radius: inherit;
  z-index: 99999;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}

.is-loading .loader-shade {
  opacity: 1;
}

@-webkit-keyframes spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes spinner-rotate {
  0% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-rotate {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.switcher {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switcher:before,
.switcher:after {
  content: "";
  display: table;
}

.switcher:after {
  clear: both;
}

.switcher__label,
.switcher__input {
  vertical-align: text-bottom;
  padding-right: .5em;
  font-size: 1em;
}

.switcher__input:checked,
.switcher__input:not(:checked) {
  position: absolute;
  opacity: 0;
}

.switcher__input:checked + .switcher__label,
.switcher__input:not(:checked) + .switcher__label {
  position: relative;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  cursor: pointer;
  z-index: 1;
  margin-left: -1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switcher__label:nth-of-type(1) {
  margin-left: 0;
}

.switcher__input:checked + .switcher__label {
  cursor: default;
  z-index: 2;
}

.switcher.is-disabled {
  opacity: .4;
}

.switcher__input:checked + .switcher__label,
.switcher__input:not(:checked) + .switcher__label {
  height: 2em;
  padding: .5em 1em;
  background: #f4f4f4;
  background: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background: linear-gradient(to bottom,#fefefe,#f4f4f4);
  border: 1px solid #bbb;
  line-height: 1;
  color: #555;
  -webkit-transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.switcher__label:nth-of-type(1) {
  border-radius: .15em 0 0 .15em;
}

.switcher__label:nth-last-of-type(1) {
  border-radius: 0 .15em .15em 0;
}

.switcher__input:checked + .switcher__label {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #eee);
  background: linear-gradient(to bottom,#bbb,#eee);
  border-color: #999;
  box-shadow: inset 0 .1em .2em rgba(0,0,0,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.switcher__input:focus + .switcher__label {
  border-color: #7abbe6;
  box-shadow: 0 0 .4em rgba(122,187,230,0.75);
}

.text {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.text p,
.text ul,
.text ol,
.text li,
.text pre {
  margin-bottom: 20px;
}

.alpha,
.text h1,
.beta,
.text h2,
.gamma,
.text h3,
.delta,
.text h4,
.epsilon,
.text h5 {
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 1.2;
  font-weight: normal;
}

.alpha,
.text h1 {
  font-size: 44px;
}

.beta,
.text h2 {
  font-size: 34px;
}

.gamma,
.text h3 {
  font-size: 28px;
}

.delta,
.text h4 {
  font-size: 20px;
}

.epsilon,
.text h5 {
  font-size: 1em;
  font-weight: bold;
}

.text h1 + h2,
.text h2 + h3,
.text h3 + h4,
.text h4 + h5,
.alpha + .beta,
.beta + .gamma,
.gamma + .delta,
.delta + .epsilon,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
.alpha:first-child,
.beta:first-child,
.gamma:first-child,
.delta:first-child {
  margin-top: 0;
}

.tooltip,
.has-tooltip:before {
  position: relative;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}

.tooltip:after,
.has-tooltip:before,
.has-tooltip:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.has-tooltip {
  position: relative;
}

.has-tooltip:before {
  content: attr(data-tooltip);
}

.has-tooltip:before,
.has-tooltip:after {
  top: 100%;
  display: none;
}

.has-tooltip:hover:before,
.has-tooltip:hover:after {
  display: block;
}

.tooltip,
.has-tooltip:before {
  padding: .2em .5em;
  background: rgba(0,0,0,0.9);
  color: #fff;
  font-size: 14px;
  border-radius: .15em;
}

.tooltip:after,
.has-tooltip:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0,0,0,0.9);
}

.tooltip:after {
  top: -5px;
}

.has-tooltip:before {
  margin-top: 5px;
}

.c1 {
  background: #90a959;
}

.c2 {
  background: #75b5aa;
}

.c3 {
  background: #6a9fb5;
}

.c4 {
  background: #aa759f;
}

.c5 {
  background: #8f5536;
}

.c6 {
  background: #ac4142;
}

.c7 {
  background: #d28445;
}

.c8 {
  background: #f4bf75;
}

.spec {
  margin-bottom: 20px;
}

.spec_narrow {
  width: 300px;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 20px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.dialog.is-hidden {
  opacity: 0;
}

body {
  padding: 20px;
  font: 16px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}