// Switcher

@import "../../styles/core";
@import "../form/mixins";

// Bones

.switcher {
	no-select();
	display: flex;

	&__input:checked,
	&__input:not(:checked) {
		position: absolute;
		opacity: 0;
	}

	&__input:checked + &__label,
	&__input:not(:checked) + &__label {
		field-bones();
		position: relative;
		cursor: pointer;
		z-index: 1;
		margin-left: -1px;
		user-select: none;
	}

	&__label:nth-of-type(1) {
		margin-left: 0;
	}

	&__input:checked + &__label {
		cursor: default;
		z-index: 2;
	}

	&.is-disabled {
		opacity: .4;
	}
}


// Default skin

modules_default_skin ?= true;
switcher_default_skin ?= false;

if (modules_default_skin or switcher_default_skin) {
	.switcher {
		&__input:checked + &__label,
		&__input:not(:checked) + &__label {
			button-skin();
		}

		&__label:nth-of-type(1) {
			border-radius: form_border_radius 0 0 form_border_radius;
		}
		&__label:nth-last-of-type(1) {
			border-radius: 0 form_border_radius form_border_radius 0;
		}

		&__input:checked + &__label {
			button-pressed-skin();
		}

		&__input:focus + &__label {
			border-color: form_focus_color;
			box-shadow: form_focus_shadow;
		}
	}
}
